%h1 Ack! Quelque chose s'est mal passé!
%p Nous avons reçu une erreur de la part de votre fournisseur d'authentification. Vous pouvez essayer à nouveau ou choisir un autre fourniesseur.
%h2 Merci de choisir un fournisseur d'authentification pour continuer :
= render :partial => 'provider_list'

