%h1 Eep! Nous n'avons pas pu trouver un moyen de vous connecter!
%p Nous avons essayé de piocher un fournisseur d'authentification pour vous basé sur votre adresse email, mais nous n'en avons pas trouvé.
%h2 Merci de piocher un fournisseur d'authentification pour continuer :
= render :partial => 'provider_list'
