%p
  L'enregistrement que vous avez demandé n'existe pas. Etre vous sûr d'avoir demandé le bon objet ? Peut être a t il été supprimé? Peut être a t il été enlevé par des aliens ? Vraiment désolé, mais voici une illustration qui vous fera vous sentir mieux :

%div#creepy-baby-sloth
  = image_tag 'creepy-baby-sloth.jpg'
